# 55: Menghitung jumlah baris menurut kriteria tertentu

2273001 - Olivia Justine Audia

Import Modules

In [1]:
import pandas as pd
import numpy as np

print(pd.__version__)
print(np.__version__)

1.4.4
1.21.5

Persiapan Data Frame

In [2]:
n_rows = 10
n_cols = 5
cols = tuple('ABCDE')

df = pd.DataFrame(np.random.randint(1, 10, size=(n_rows, n_cols)), columns=cols)
df

   A  B  C  D  E
0  8  5  4  9  9
1  9  8  4  5  1
2  7  6  1  9  5
3  9  8  3  6  8
4  4  7  2  7  7
5  6  3  5  4  3
6  2  3  2  9  8
7  3  7  4  9  1
8  9  3  5  4  3
9  6  9  1  5  9

Menghitung jumlah baris menurut kriteria tertentu

In [3]:
(df['A'] < 5).sum()

3

In [4]:
(df['A'] < 5).mean()

0.3